SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=rabdillahf09@gmail.com
SMTP_PASS=your_gmail_app_password
CONTACT_EMAIL=rabdillahf09@gmail.com

VITE_GITHUB_USERNAME=rapirawr
WAKATIME_API_KEY=waka_12c397a9-f43a-440a-91ab-03254ff6d045
